<div class="row">
    <!--FirstName-->
    <div class="row">
        <div class="col-2">
            <label class="form-label d-inline" for="FirstName">Nombre: </label>
        </div>
        <div class="col-8">
            <input type="text" class="form-control d-inline" id="FirstName" name="FirstName" placeholder="Nombre" required autocomplete="off" />
        </div>
    </div>
    <!--FirstName-->
    <br />
    <br />
    <!--LastName-->
    <div class="row">
        <div class="col-2">
            <label class="form-label d-inline" for="LastName">Apellido: </label>
        </div>
        <div class="col-8">
            <input type="text" class="form-control d-inline" id="LastName" name="LastName" placeholder="Apellido" autocomplete="off" />
        </div>
    </div>
    <!--LastName-->
    <br />
    <br />
    <!--Gender-->
    <div class="row">
        <div class="col-2">
            <label class="form-label d-inline" for="Gender">Género: </label>
        </div>
        <div class="col-8">
            <select class="form-select d-inline" id="Gender" name="Gender" required>
                <option value="" selected>Género</option>
                <option value="M">Masculino</option>
                <option value="F">Femenino</option>
            </select>
        </div>
    </div>
    <!--Baptism-->
    <br />
    <br />
    <!--PhoneNumber-->
    <div class="row">
        <div class="col-2">
            <label class="form-label d-inline" for="PhoneNumber">Celular: </label>
        </div>
        <div class="col-8">
            <input type="tel" class="form-control d-inline" id="PhoneNumber" name="PhoneNumber" placeholder="Celular" required autocomplete="off" />
        </div>
    </div>
    <!--PhoneNumber-->
    <br />
    <br />
    <!--Address-->
    <div class="row">
        <div class="col-2">
            <label class="form-label d-inline" for="Address">Dirección: </label>
        </div>
        <div class="col-8">
            <input type="tel" class="form-control d-inline" id="Address" name="Address" placeholder="Dirección" required autocomplete="off" />
        </div>
    </div>
    <!--Address-->
    <br />
    <br />
    <!--Email-->
    <div class="row">
        <div class="col-2">
            <label class="form-label d-inline" for="Email">Correo Electrónico: </label>
        </div>
        <div class="col-8">
            <input type="tel" class="form-control d-inline" id="Email" name="Email" placeholder="Correo Electrónico" required autocomplete="off" />
        </div>
    </div>
    <!--Email-->
    <br />
    <br />
    <!--Baptism-->
    <div class="row">
        <div class="col-2">
            <label class="form-label d-inline" for="Baptism">Bautismo: </label>
        </div>
        <div class="col-8">
            <select class="form-select d-inline" id="Baptism" name="Baptism" required>
                <option value="" selected>Bautismo</option>
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
        </div>
    </div>
    <!--Baptism-->
    <br />
    <br />
    <!--Picture-->
    <div class="row">
        <div class="col-2">
            <label class="form-label d-inline" for="Picture">Fotografía: </label>
        </div>
        <div class="col-8">
            <input class="form-control" type="text" id="Picture" name="Picture" autocomplete="off" placeholder="Path"/>
        </div>
    </div>
    <!--Picture-->
    <br />
</div>
